.navbar {
    width: 100%;
    min-height: 10vh;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.nav {
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    min-height: 100%;
    padding: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: hsl(200, 15%, 8%);
}