.border button{
    background-color: hsl(0, 0%, 100%);
    width: 13vh;
    height: 6vh;
    margin: 5px 15px;
    padding: 1px;
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    outline: none;

    
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.7rem;
    color: #000;
}

@media (max-width: 650px) {
    .border button{
      /* background-color: red; */
      width: 30vh;
  }
}