@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* background-color: hsl(0, 0%, 98%); */
    font-family: 'Nunito Sans', sans-serif;
    height: 100%;
}

/* pre-sets */
ul li{
    list-style: none;

    /* color: #000; */
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 800;
} 

h3 {
    text-transform: capitalize;
    font-weight: 600;
}

p {
    text-transform: capitalize;
}

a{
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

#darkBackground {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}

#darkElements {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
}

