@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: pink;
    font-family: 'Nunito Sans', sans-serif;
}

/* pre-sets */
ul li{
    list-style: none;

    color: #000;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 800;
} 

h3 {
    text-transform: capitalize;
    font-weight: 600;
}

p {
    text-transform: capitalize;
}

a{
    text-decoration: none;
}

